<div class="form-row">
  <div class="form-group col-md-6">
    <div class="form-group row">
      <label for="task" class="col-sm-3 col-form-label">Task:</label>
      <div class="col-sm-9">
        <input type="text"  [(ngModel)]="searchText">
      </div>
    </div>
  </div>
  <div class="form-group col-md-6">
    <div class="form-group row">
      <label for="parent_task" class="col-sm-3 col-form-label">Parent Task:</label>
      <div class="col-sm-9">
        <input type="text" [(ngModel)]="searchParent" id="parent_task">
      </div>
    </div>
  </div>
  <!--<div class="form-group row"> -->
    <div class="form-group col-md-6">
      <div class="form-group row">
        <label for="priorityFrom" class="col-sm-3 col-form-label">Priority From:</label>
          <div class="col-sm-9">
            <input type="number" [(ngModel)] = "_gsearchPriority" >
          </div>
      </div>
    </div>

    <div class="form-group col-md-6">
      <div class="form-group row">
        <label for="priorityTo" class="col-sm-3 col-form-label">Priority To:</label>
          <div class="col-sm-6">
            <input type="number" [(ngModel)] ="_lsearchPriority">
          </div>
      </div>
    </div>


    <div class="form-group col-md-6">
      <div class="form-group row">
          <label for="startDate" class="col-sm-3 col-form-label">Start Date:</label>
          <div class="col-sm-6">
            <input type="date" [(ngModel)]="start_date" id="Start_date">
          </div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <div class="form-group row">
          <label for="endDate" class="col-sm-3 col-form-label">End Date:</label>
          <div class="col-sm-6">
            <input type="date" [(ngModel)]="end_date" id="End_date">
          </div>
      </div>
    </div>
  <!--</div> -->
</div>

<hr id="afterSearchView" />

<br/>

<div class="table-responsive">
  <table class="table">
    <tr *ngFor="let task of Tasks |searchtext: searchText: searchParent: _gsearchPriority:
         _lsearchPriority:start_date:end_date">
      <td id="taskCell">
        <b>Task</b>
        <br/>{{task.Task_ID}}</td>
      <td id="parentTaskCell">
        <b>Parent Task</b>
        <br/>{{task.Parent_Task | filterparent: Tasks }}</td>
      <td id="priorityCell">
        <b>Priority</b>
        <br/>{{task.Priority}}</td>
      <td class="dateCell">
        <b>Start Date</b>
        <br/>{{task.Start_date | date:"dd-MM-yyyy"}}</td>
      <td class="dateCell">
        <b>End Date</b>
        <br/>{{task.End_date | date:"dd-MM-yyyy"}}</td>
        <td class="dateCell">
          <b>Finished</b>
          <br/>{{task.Finished}}</td>
        <td class="app-btn">
        <button class="btn btn-default btn-block nav-link-edit" 
        [routerLink]="['/update-task/'+task._id]">Edit</button>
      </td>
      <td class="app-btn">
        <button class="btn btn-default btn-block" (click) = 'deleteTask(task._id)' >End Task</button>
      </td>
    </tr>
  </table>
</div>